.head{
  background: url(../images/Galaxy-2.jpg) repeat-x;
  background-position: center;
  height: 748px;
  opacity: 0.9;
  animation: slide 50s linear infinite;
  background: cover;
  overflow: hidden;
}

@keyframes slide{
    from { background-position: 0 0; }
    to { background-position: -2880px 0; }
  }

.navbar {
  margin: auto;
  z-index: 1000;
}

.navbar-brand img{
  width: 70px;
  height: 60px;
  margin-right: 256px;
}

.navbar-nav .nav-item a{
  margin: 32px 32px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bolder;
}

.front {
  padding-top: 190px;
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
  color: white;
}

.middle blockquote {
  font-size: 40px;
}

.front img{
  width: 300px;
  height: 320px;
  position: center;
  padding-bottom: 30px;
}

.content {
  background-color: #000000;
}

.aboutus{
  height: 550px;
}

.carousel {
  width: 600px;
  height: 550px;
  padding: 90px 0px 0px 80px;
}

.content #title{
  margin: 0px auto;
  padding: 140px 50px 0px;
  font-weight: bold;
  font-size: 35px;
  color: white;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  color: white;
  padding-top: 25px;
  font-weight: bolder;
}

.content .desc{
  margin: 0px 20px 15px 20px;
  padding-top: 15px;
  color: white;
}

.activity{
  background: url(../images/Melipir.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.activity img {
  width: 500px;
  height: 320px;
  padding: 0px 20px 5px 20px;
}

.activity .detail img {
  width: 500px;
  height: 320px;
  padding: 0px 0px 5px 0px;
}

.activity #pre, .activity #main, .activity #final {
  padding-top: 0;
  overflow: hidden;
}

.activity .desc {
  padding: 5px 15px;
}

.activity .detail {
  width: 200px;
  height: 140px;
  position: relative;
  border-radius: 4px;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

.activity .detail:hover img{
  filter: blur(2px);
}

.activity .detail img {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}

.activity .detail :not(img) {
  position: absolute;
  top: 40%;
  z-index: 1;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: .3s;
  text-transform: uppercase;
}

.activity .detail:hover :not(img) {
  opacity: 1;
}

.activity button{
  margin-bottom: 25px;
}

.activity .backact{
  background: rgba(08,07,05,0.5);
  background-size: cover;
  background-repeat: no-repeat;
}

.activity .backact #act{
  color: white;
}

.footer {
  background: linear-gradient(to right, rgba(43, 11, 228, 0.8), rgba(8, 10, 112, 0.4));
}

.footer img {
  width: 45px;
  height: 45px;
  margin-left: 20px;
  margin-bottom: 15px;

}

.footer .title {
  font-size: 16px;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 16em;
    margin: 0 auto;
    font-size: 60px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/*Animation*/
.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 normal both;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 16em;}
}

@-webkit-keyframes open{
  0%{
    -webkit-transform: scale(1,0);
  }
  100%{
    -webkit-transform: scale(1,1);
  }
}
@-webkit-keyframes squeeze{
  0%{
    height: 400px;
  }
  100%{
    height: 120px;
  }
}
@-webkit-keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes slideLeft{
  0%{
    -webkit-transform: translateX(120%);
  }
  100%{
    -webkit-transform: translateX(0%);
  }
}
@-webkit-keyframes slideRight{
  0%{
    -webkit-transform: translateX(-120%);
  }
  100%{
    -webkit-transform: translateX(0%);
  }
}
@-webkit-keyframes moveUp{
  0%{
    -webkit-transform: translateY(0px);
  }
  100%{
    -webkit-transform: translateY(-170px);
  }

}
@-webkit-keyframes zoomIn{
  0%{
    -webkit-transform: scale(0);
  }
  100%{
    -webkit-transform: scale(1);
  }
}
/**/
@-moz-keyframes open{
  0%{
    -moz-transform: scale(1,0);
  }
  100%{
    -moz-transform: scale(1,1);
  }
}
@-moz-keyframes squeeze{
  0%{
    height: 400px;
  }
  100%{
    height: 120px;
  }
}
@-moz-keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@-moz-keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-moz-keyframes slideLeft{
  0%{
    -moz-transform: translateX(120%);
  }
  100%{
    -moz-transform: translateX(0%);
  }
}
@-moz-keyframes slideRight{
  0%{
    -moz-transform: translateX(-120%);
  }
  100%{
    -moz-transform: translateX(0%);
  }
}
@-moz-keyframes moveUp{
  0%{
    -moz-transform: translateY(0px);
  }
  100%{
    -moz-transform: translateY(-170px);
  }

}
@-moz-keyframes zoomIn{
  0%{
    -moz-transform: scale(0);
  }
  100%{
    -moz-transform: scale(1);
  }
}
/**/
@keyframes open{
  0%{
    transform: scale(1,0);
  }
  100%{
    transform: scale(1,1);
  }
}
@keyframes squeeze{
  0%{
    height: 400px;
  }
  100%{
    height: 120px;
  }
}
@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes slideLeft{
  0%{
    transform: translateX(120%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes slideRight{
  0%{
    transform: translateX(-120%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes moveUp{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-170px);
  }

}
@keyframes zoomIn{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}